<?xml version="1.0"?>
<ruleset name="stinky-code">
	<description>Code standards to make my stinky code stink less.</description>

	<!-- What to scan -->
	<file>.</file>

	<!-- How to scan -->
	<arg value="sp"/> <!-- Show sniff and progress -->
	<arg name="basepath" value="."/><!-- Strip the file paths down to the relevant bit -->
	<arg name="colors" />
	<arg name="extensions" value="php"/>
	<arg name="report" value="full"/>
	<arg name="report" value="summary"/>
	<arg name="report" value="source"/>

	<!-- Rules: WordPress Coding Standards -->
	<config name="minimum_supported_wp_version" value="4.5"/>
	<rule ref="WordPress">
		
	</rule>
<!--	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="stinky,stinky_code"/>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="stinky-code,stinky"/>
		</properties>
	</rule>
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule> -->
</ruleset>